body
{
    font-family: Arial;
    margin: auto;
    width: 60%;
}

h3
{
    margin:5% 0% 5% 0%;
    font-size: 2vw;
}

#sikertelen
{
    list-style-image: url("../img/icon_bad.png");

}

#sikeres
{
    list-style-image: url("../img/icon_good.png");

}

.elso
{
    border: 2px solid red;
    border-radius: 5%;
    box-shadow: 5px 5px 8px #ff5a5a, 10px 10px 8px rgb(221, 129, 129);
    padding: 5% 2% 2% 7%;
    font-size: 1.2vw;
}

.masodik
{
    border: 2px solid green;
    border-radius: 5%;
    box-shadow: 5px 5px 8px rgb(37, 158, 37), 10px 10px 8px rgb(134, 255, 134);
    padding: 5% 2% 2% 7%;
    font-size:1.2vw;
}

.harmadik
{
    margin-top: 3%;
    margin-left: -95%;
    text-align: center;
    padding: 4px;
    background-color: blue;
    color: yellow;
    font-weight: bold;
    font-size: 1vw;
    box-shadow: 10px 10px 5px #cfb7a2;
    transform: rotate(5deg);
    width: 250%;
}

img
{
    margin: 300% 0% 0% -20%;
    width: 150%;
}

@media screen and (max-width: 767px) 
{
    img.nyil 
    {
        display: none;
    }
    .harmadik
    {
        transform: none;
        margin: auto;
        width: auto;
    }
    h3
    {
        font-size: 1.5em;
    }
    .elso, .masodik, .harmadik
    {
        font-size: 1em;
    }
}
@media screen and (max-width: 576px)
{
    h3
    {
        font-size: 1.5em;
    }
    .elso, .masodik, .harmadik
    {
        font-size: 0.8em;
    }   
} 