body
{
    font-family: Arial;
    margin: auto;
    width: 70%;
}
h3
{
    margin:5% 0% 5% 0%;
    font-size: 2vw;
}
#sikertelen
{
    list-style-image: url("../img/icon_bad.png");

}

#sikeres
{
    list-style-image: url("../img/icon_good.png");

}